@{
    ViewData["Title"] = "FindUs";
}
@using Res = WebApplication2.Resources.Resources;
<body>
    <div class="row" dir="ltr">
        <!-- featured-services-area-start -->
        <div class="featured-services-area pt-120 pb-90 gray-bg" dir="ltr">
            <div class="container">
                <div class="section-title text-center mb-70">
                    <span>@Res.WhereToFindUs</span>
                    <h3>@Res.OurLocations</h3>

                </div>
                <div class="row" dir="ltr">
                    <div class="col-md-4 col-sm-6" dir="ltr">
                        <div class="featured-services-wrapper mb-30 white-bg" dir="ltr">
                            <div class="featured-services-img">
                                <img src="~/assets/img/location/waLocation.png" alt="" />
                                <div class="featured-services-icon" dir="ltr">
                                    <a href="https://g.page/wawangym?share"><i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                            <div class="featured-services-text featured-services-info">
                                <h3><a href="https://g.page/wawangym?share">Wawan gym</a></h3>
                                <p>الدائري الشرقي الفرعي، الربوة، الرياض 14213</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 hidden-sm">
                        <div class="featured-services-wrapper mb-30 white-bg">
                            <div class="featured-services-img">
                                <img src="~/assets/img/location/bmLocation.png" alt="" />
                                <div class="featured-services-icon">
                                    <a href="https://g.page/3B-BODYMASTERS626BODYMOTIONS?share"><i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                            <div class="featured-services-text featured-services-info">
                                <h3><a href="https://g.page/3B-BODYMASTERS626BODYMOTIONS?share">Body Master</a></h3>
                                <p>شارع العليا، الصحافة،</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
<!-- featured-services-area-end -->
